#timelineContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100px;
/*   background: green; */
}

#timeline {
  background-color: lightgrey;
  cursor: crosshair;
}

video {
  width: 100%;
}
